<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="model" class="form-label">Modelo:</label>
      <input type="text" [ngClass]="{'is-invalid': isInvalidAndTouched('model')}" class="form-control" id="model"
        formControlName="model">
      <div *ngIf="carForm.controls['model'].invalid" class="invalid-feedback">
        <span *ngIf="carForm.controls['model'].errors?.['required']">
          Modelo é obrigatório!
        </span>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="licensePlate" class="form-label">Placa:</label>
      <input type="text" [ngClass]="{'is-invalid': isInvalidAndTouched('licensePlate')}" class="form-control"
        id="licensePlate" formControlName="licensePlate" mask="AAA-AAAA" (input)="transformToUppercase($event)">
      <div *ngIf="carForm.controls['licensePlate'].invalid" class="invalid-feedback">
        <span *ngIf="carForm.controls['licensePlate'].errors?.['required']">
          Placa é obrigatório!
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mb-3">
      <label for="color" class="form-label">Cor:</label>
      <input type="text" [ngClass]="{'is-invalid': isInvalidAndTouched('color')}" class="form-control" id="color"
        formControlName="color" (input)="restrictToLetters($event)">
      <div *ngIf="carForm.controls['color'].invalid" class="invalid-feedback">
        <span *ngIf="carForm.controls['color'].errors?.['required']">
          Cor é obrigatório!
        </span>
      </div>
    </div>
    <div class="col-md-2 mb-3">
      <label for="year" class="form-label">Ano:</label>
      <input type="number" [ngClass]="{'is-invalid': isInvalidAndTouched('year')}" class="form-control" id="year"
        formControlName="year" maxlength="4">
      <div *ngIf="carForm.controls['year'].invalid" class="invalid-feedback">
        <span *ngIf="carForm.controls['year'].errors?.['required']">
          Ano é obrigatório!
        </span>
        <span *ngIf="carForm.controls['year'].errors?.['min'] || carForm.controls['year'].errors?.['max']">
          Ano deve ser entre 1930 e {{carMaxYear()}}
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="embbed" class="row">
    <div class="col-md-6 mb-3 align-items-end d-flex justify-content-end">
      <button type="button" (click)="clear()" class="btn btn-primary me-2">Cancelar</button>
      <button type="button" (click)="addCar()" class="btn btn-primary"><i class="bi bi-plus"></i> Adicionar</button>
    </div>
  </div>
  <div *ngIf="!embbed">
    <button type="button" (click)="clear()" class="btn btn-outline-secondary me-1">Cancelar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>
