<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="firstName" class="form-label">Nome:</label>
      <input type="text" [ngClass]="{'is-invalid': isInvalidAndTouched('firstName')}" class="form-control"
        id="firstName" formControlName="firstName">
      <div *ngIf="userForm.controls['firstName'].invalid" class="invalid-feedback">
        <span *ngIf="userForm.controls['firstName'].errors?.['required']">
          Nome é obrigatório!
        </span>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="lastName" class="form-label">Sobrenome:</label>
      <input type="text" [ngClass]="{'is-invalid': isInvalidAndTouched('lastName')}" class="form-control" id="lastName"
        formControlName="lastName">
      <div *ngIf="userForm.controls['lastName'].invalid" class="invalid-feedback">
        <span *ngIf="userForm.controls['lastName'].errors?.['required']">
          Sobrenome é obrigatório!
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" [ngClass]="{'is-invalid': isInvalidAndTouched('email')}" class="form-control" id="email"
        formControlName="email">
      <div *ngIf="userForm.controls['email'].invalid" class="invalid-feedback">
        <span *ngIf="userForm.controls['email'].errors?.['required']">
          Email é obrigatório!
        </span>
      </div>
    </div>
    <div class="col-md-2 mb-3">
      <label for="birthday" class="form-label">Data de Nascimento:</label>
      <input type="date" [ngClass]="{'is-invalid': isInvalidAndTouched('birthday')}" class="form-control" id="birthday"
        formControlName="birthday">
      <div *ngIf="userForm.controls['birthday'].invalid" class="invalid-feedback">
        <span *ngIf="userForm.controls['birthday'].errors?.['required']">
          Data de Nascimento é obrigatório!
        </span>
        <span *ngIf="userForm.controls['birthday'].errors?.['birthdayInvalid']">
          Data de Nascimento não pode ser maior que a data atual!
        </span>
      </div>
    </div>
    <div class="col-md-2 mb-3">
      <label for="phone" [ngClass]="{'is-invalid': isInvalidAndTouched('phone')}" class="form-label">Telefone:</label>
      <input type="text" class="form-control" id="phone" formControlName="phone" mask="(00) 00000-0000">
      <div *ngIf="userForm.controls['phone'].invalid" class="invalid-feedback">
        <span *ngIf="userForm.controls['phone'].errors?.['required']">
          Telefone é obrigatório!
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="login" [ngClass]="{'is-invalid': isInvalidAndTouched('login')}" class="form-label">Login:</label>
      <input type="text" class="form-control" id="login" formControlName="login">
      <div *ngIf="userForm.controls['login'].invalid" class="invalid-feedback">
        <span *ngIf="userForm.controls['login'].errors?.['required']">
          Login é obrigatório!
        </span>
      </div>
    </div>
    <div class="col-md-2 mb-3">
      <label for="password" [ngClass]="{'is-invalid': isInvalidAndTouched('password')}"
        class="form-label">Senha:</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div *ngIf="userForm.controls['password'].invalid" class="invalid-feedback">
        <span *ngIf="userForm.controls['password'].errors?.['required']">
          Senha é obrigatório!
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>Carros</h5>
      <app-car-form (carAdded)="handleCarAdded($event)" [embbed]="true"></app-car-form>
    </div>
  </div>
  <ul class="list-group col-md-6">
    <li *ngFor="let car of cars" class="list-group-item">
      <div class="row">
        <div class="col-md-6">
          <span>Modelo: {{ car.model }} - Ano: {{ car.year }}</span>
        </div>
        <div class="col-md-4 text-end">
          <span class="badge bg-secondary">Placa: {{ car.licensePlate | mask: 'AAA-AAAA' }}</span>
        </div>
        <div class="col-md-2 text-end">
          <button type="button" class="btn btn-sm btn-danger" (click)="removeCar(car)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
  <div class="row">
    <div class="col-md-2 mb-3"></div>
  </div>
  <button type="button" (click)="limpar()" class="btn btn-outline-secondary me-1">Cancelar</button>
  <button type="submit" class="btn btn-primary">{{saveOrEdit()}}</button>
</form>
