<div class="d-flex justify-content-end mb-3">
  <button class="btn btn-primary" (click)="addCar()">
    <i class="bi bi-plus"></i>{{ 'common.add' | translate }}
  </button>
</div>
<table class="table table-striped table-responsive">
  <thead class="table-light">
    <tr>
      <th scope="col">{{ 'car.model' | translate }}</th>
      <th scope="col">{{ 'car.licensePlate' | translate }}</th>
      <th scope="col">{{ 'car.color' | translate }}</th>
      <th scope="col">{{ 'car.year' | translate }}</th>
      <th class="text-center" scope="col">{{ 'common.actions' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ car.model }}</td>
      <td>{{ car.licensePlate | mask: 'AAA-AAAA' }}</td>
      <td>{{ car.color }}</td>
      <td>{{ car.year }}</td>
      <td class="text-center"><button class="btn btn-link" (click)="editCar(car.id)"><i
            class="bi bi-pencil"></i></button>
        <button class="btn btn-link" (click)="deleteCar(car.id)"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>


