<ng-container *ngIf="currentRoute !== 'forbidden' && currentRoute !== 'login'">
<header class="navbar sticky-top flex-md-nowrap p-2 text-dark">
  <div class="d-flex flex-column texto-cabecario">
    <p class="fs-2 mb-0 fw-bold" >{{ 'app.angularQuest' | translate }}</p>
  </div>

  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-black" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="bi">
          <use xlink:href="#list" />
        </svg>
      </button>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0">
      <div class="offcanvas-md offcanvas-end" tabindex="-1" id="sidebarMenu"
        aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column p-0 pt-lg-3 overflow-y-auto">
          <ul class="nav flex-column w-100 d-flex align-items-start ">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/user-list" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-people"></i>
                {{ 'app.user' | translate }}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/car-list" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-ev-front"></i>
                {{ 'app.car' | translate }}
              </a>
            </li>
          </ul>
          <hr class="my-3" />
          <ul class="nav flex-column w-100 mb-auto d-flex align-items-start">
            <li *ngIf="userMe" class="nav-item">
              <div class="nav-link d-flex flex-column align-items-start user-info">
                <b class="mb-0">{{ 'app.user' | translate }}: {{ userMe.login }}</b>
                <b class="mb-0">{{ 'app.name' | translate }}: {{ userMe.firstName }} {{ userMe.lastName }}</b>
                <b class="mb-0">{{ 'app.lastLogin' | translate }}: {{ userMe.lastLogin | date:'dd/MM/yyyy HH:mm:ss' }}</b>
              </div>
            </li>
            <li *ngIf="userMe" class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" href="#" (click)="logout()">
                <i class="bi bi-door-closed"></i>
                {{ 'app.exit' | translate }}
              </a>
            </li>
            <li *ngIf="!userMe" class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="/login"  routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-door-closed"></i>
                {{ 'app.login' | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-2">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
  <p class="col-md-4 mb-0 text-body-secondary" style="margin-left: 10px;">{{ year }} - {{ 'app.footer' | translate }}</p>

  <p class="nav col-md-4 justify-content-end"></p>
</footer>
</ng-container>
<ng-container *ngIf="currentRoute == 'forbidden'">
<app-forbidden></app-forbidden>
</ng-container>
<ng-container *ngIf="currentRoute == 'login'">
<app-login></app-login>
</ng-container>
