<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form [formGroup]="authRequestForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="login" class="form-label">Login</label>
              <input type="text" [ngClass]="{'is-invalid': isInvalidAndTouched('login')}" class="form-control"
                id="login" formControlName="login">
              <div *ngIf="authRequestForm.controls['login'].invalid" class="invalid-feedback">
                <span *ngIf="authRequestForm.controls['login'].errors?.['required']">
                  Login é obrigatório!
                </span>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <input type="password" [ngClass]="{'is-invalid': isInvalidAndTouched('password')}" class="form-control"
                id="password" formControlName="password">
              <div *ngIf="authRequestForm.controls['password'].invalid" class="invalid-feedback">
                <span *ngIf="authRequestForm.controls['password'].errors?.['required']">
                  Senha é obrigatório!
                </span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
