<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{ 'home.welcomeMessage' | translate }}</h1>
          <h3 class="mt-4">{{ 'home.features' | translate }}</h3>
          <ul class="list-group mt-3">
            <li class="list-group-item">
              <strong>{{ 'home.userManagement.title' | translate }}</strong>
              <ul class="list-group mt-2">
                <li class="list-group-item">{{ 'home.userManagement.add' | translate }}</li>
                <li class="list-group-item">{{ 'home.userManagement.edit' | translate }}</li>
                <li class="list-group-item">{{ 'home.userManagement.addOrRemoveCars' | translate }}</li>
                <li class="list-group-item">{{ 'home.userManagement.remove' | translate }}</li>
                <li class="list-group-item">{{ 'home.userManagement.list' | translate }}</li>
              </ul>
            </li>
            <li class="list-group-item">
              <strong>{{ 'home.carManagement.title' | translate }}</strong>
              <ul class="list-group mt-2">
                <li class="list-group-item">{{ 'home.carManagement.add' | translate }}</li>
                <li class="list-group-item">{{ 'home.carManagement.edit' | translate }}</li>
                <li class="list-group-item">{{ 'home.carManagement.remove' | translate }}</li>
              </ul>
            </li>
            <li class="list-group-item">
              <strong>{{ 'home.login.title' | translate }}</strong>
              <ul class="list-group mt-2">
                <li class="list-group-item">{{ 'home.login.userManagementAccess' | translate }}</li>
                <li class="list-group-item">{{ 'home.login.carManagementAccess' | translate }}</li>
                <li class="list-group-item">{{ 'home.login.userInfoDisplay' | translate }}</li>
                <li class="list-group-item">{{ 'home.login.loginImplementation' | translate }}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
