<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Bem-vindo ao Sistema de Gestão de Pessoas</h1>
          <h3 class="mt-4">Funcionalidades:</h3>
          <ul class="list-group mt-3">
            <li class="list-group-item">
              <strong>Gestão de usuários:</strong>
              <ul class="list-group mt-2">
                <li class="list-group-item">Adicionar.</li>
                <li class="list-group-item">Editar.</li>
                <li class="list-group-item">Ao adicionar ou editar um usuário, é possível adicionar ou editar um ou mais
                  carros.</li>
                <li class="list-group-item">Remover.</li>
                <li class="list-group-item">listar.</li>
              </ul>
            </li>
            <li class="list-group-item">
              <strong>Gestão de carros:</strong>
              <ul class="list-group mt-2">
                <li class="list-group-item">Adicionar.</li>
                <li class="list-group-item">Editar.</li>
                <li class="list-group-item">Remover.</li>
                <li class="list-group-item">Remover.</li>
              </ul>
            </li>
            <li class="list-group-item">
              <strong>Login:</strong>
              <ul class="list-group mt-2">
                <li class="list-group-item">A gestão de usuários é disponível para qualquer usuário, mesmo sem acesso.
                </li>
                <li class="list-group-item">Para acessar a gestão de carros, é necessário realizar o login no sistema.
                </li>
                <li class="list-group-item">Ao executar o login, as informações do usuário ficam disponíves abaixo do
                  menu.</li>
                <li class="list-group-item">A implementação do login foi realizada usando o store do Angular. Também
                  poderíamos adicionar no localStorage ou cookies para permitir recarregamentos.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
